.video-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  .video-container {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Spacing between videos */
    flex: 0 0 auto; /* Prevents flex items from shrinking */
  }
  
  .video-container video {
    width: 15rem; /* Set the desired width of each video */
    height: auto;
  }
  
  .video-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 3rem;
    margin-bottom: 23rem;
    background-color: rgb(80, 17, 100);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    z-index: 1;
    border-radius: 5px;
  }
  
  .video-row::-webkit-scrollbar {
    height: 8px;
  }
  
  .video-row::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
  }
  
  .video-row::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  