.Pick_thier_Fav_Heading{
    font-weight: bold;
    font-size: 1.5rem;
   
    

}
.Pick_thier_Fav_div{
    background-color: whitesmoke;
    
    padding: 1%;
}

.Pick_thier_Fav_Heading_div{
    margin-top: 1rem;
   
}
.Pick_thier_Fav_btn{
    margin-left: 2%;
    background-color: #6a6e66;
    
}

.Pick_thier_Fav_image_grid{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
}

.Pick_thier_Fav_img_div{
    display: flex;
}

.Pick_thier_Fav_grid_img_2{
    cursor: pointer;
}
.Pick_thier_Fav_img_div:hover{
    cursor: pointer;
}

.Pick_thier_Fav_img_item{
    width: 90%;
    height: auto;
}
.Pick_thier_Fav_grid_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 10px; 
}

.Pick_thier_Fav_img_2 {
    flex: 1 1 calc(20% - 10px);
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .Pick_thier_Fav_img_2 {
        flex: 1 1 calc(50% - 10px); 
    }
}

@media (max-width: 480px) {
    .Pick_thier_Fav_grid_img_2 {
        flex: 1 1 calc(100% - 10px); 
    }
}

