.info {
  padding-left: 68%;
  color: white;
  background-color: #6a6e66;
  text-align: center;
}

.mininav {
  padding: 10px;
}

.col-md-3 {
  flex: 1;
  max-width: 25%;
}

.basic-nav-dropdown {
  overflow: visible !important;
}

.Item {
  width: 20%;
}

.dropdown {
  display: flex;
  
}


@media (max-width: 1200px) {
  .info {
      padding-left: 50%;
  }

  .col-md-3 {
      max-width: 33.33%;
  }

  .Item {
      width: 25%;
  }
}

@media (max-width: 992px) {
  .info {
      padding-left: 30%;
  }

  .col-md-3 {
      max-width: 50%;
  }

  .Item {
      width: 33.33%;
  }
}

@media (max-width: 768px) {
  .info {
      padding-left: 10%;
      font-size: 14px; 
  }

  .col-md-3 {
      max-width: 100%;
  }

  .Item {
      width: 50%;
  }
}

@media (max-width: 576px) {
  .info {
      padding-left: 5%;
      font-size: 12px; 
  }

  .Item {
      width: 100%;
  }
}

.myborder {
  border: 1px solid red;
  background-color: #7d8035;
}

.middle-bar-container {
  background-color: #7d8035;
  height: 75px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.middle-bar-container > div {
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  vertical-align:auto;
}

.middle-bar-container-img {
  height: 60%;
  width: 60%;
  justify-content: center;
  position: relative;
}

input[type=text] {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  height: 50%;
  background-image: url('../../../public/images/Header/searchIcon.png');
  background-position: 350px 5px; 
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 12px 20px 12px 40px;
  /* top: 25%; */
}

.searh-del-loc {
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 4px;
  font-size: 15px;
  color: gray;
  border: 1px solid black;
  margin: auto;
}